@charset "UTF-8";

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --font-principal: "inter";
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    }

    body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400px;
    }

    * {
    margin: 0;
    padding: 0;
    }

    .principal {
    background-image: url("/alura /IMGS/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    }

    .container {
        display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    }

    .container__aviso {
        font-size: 12px;
    }

    .container_botao {
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1mm;
        color: var(--branco-principal);
        display: block;
    }